<!-- etudiants.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page Étudiants</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="{{ url_for('home') }}" style="text-decoration: none; color: inherit;">Smartpletude</a></h1>
            <nav>
                <a href="{{ url_for('home') }}">Accueil</a>
                <a href="{{ url_for('search') }}" class="active">Recherche</a>
                <a href="{{ url_for('professeurs') }}">Professeurs</a>
                <a href="{{ url_for('etudiants') }}">Étudiants</a>
                <a href="{{ url_for('about') }}">À propos</a>
		{% if current_user and current_user.user_type == 'admin' %}
    			<a href="{{ url_for('admin_dashboard') }}">Admin</a>
		{% endif %} 
           </nav>
            <div class="header-actions">
                {% if current_user %}
                    <span>Bonjour {{ current_user.prenom }}!</span>
                    <a href="{{ url_for('logout') }}" class="btn btn-logout">Déconnexion</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Connexion</a>
                    <a href="{{ url_for('register') }}" class="btn">Inscription</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        <p>Cette page est dédiée aux étudiants. Ici, vous pourrez :</p>
        <ul>
            <li>Rechercher un professeur</li>
            <li>Envoyer une demande de cours</li>
            <li>Gérer vos rendez-vous</li>
        </ul>
    </main>
</body>
</html>
